<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0;url=/static/index.html">
    <title>跳转中...</title>
</head>
<body>
    <p>正在跳转到<a href="/static/index.html">游戏中心</a>...</p>
</body>
</html>
